
<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Event Name : </span>
        <span style="font-size:1.5em;">{{result.name}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Position : </span>
        <span style="font-size:1.5em;">{{result.position}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">percent_10: </span>
        <span style="font-size:1.5em;">{{result.criteria.percent_10}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">percent_12 : </span>
        <span style="font-size:1.5em;">{{result.criteria.percent_10}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">cpi : </span>
        <span style="font-size:1.5em;">{{result.criteria.cpi}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">backlogs : </span>
        <span style="font-size:1.5em;">{{result.criteria.backlogs}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">branch : </span>
        <span style="font-size:1.5em;">{{result.criteria.branch}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">schedule : </span>
        <span style="font-size:1.5em;">{{result.schedule}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">additional_details : </span>
        <span style="font-size:1.5em;">{{result.additional_details}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Eligible Students : </span>
        <span style="font-size:1.5em;">{{result.additional_details}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Applied Students : </span>
        <span style="font-size:1.5em;">{{result.additional_details}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Offered Students : </span>
        <span style="font-size:1.5em;">{{result.additional_details}}</span>
      </div>

    </div>
</div>
