
<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Event Name : </span>
        <span style="font-size:1.5em;">{{result.name}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Position : </span>
        <span style="font-size:1.5em;">{{result.position}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">10th Percentage: </span>
        <span style="font-size:1.5em;">{{result.criteria.percent_10}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">12th Percentage : </span>
        <span style="font-size:1.5em;">{{result.criteria.percent_12}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">CPI : </span>
        <span style="font-size:1.5em;">{{result.criteria.cpi}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Backlogs : </span>
        <span style="font-size:1.5em;">{{result.criteria.backlogs}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Branch : </span>
        <span style="font-size:1.5em;">{{result.criteria.branch}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Bchedule : </span>
        <span style="font-size:1.5em;">{{result.schedule}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Additional Details : </span>
        <span style="font-size:1.5em;">{{result.additional_details}}</span>
      </div>

    </div>
</div>
