<div class="conteudo-box">
    <div class="conteudo-boxInner">
  <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Course</th>
                <th>Back Papers</th>
                <th>Company</th>
                <th>Package</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
                <td>{{this.rollno}}</td>
                <td>{{this.name}}</td>
                <td>B.TECH-{{this.branch}}</td>
                <td>{{this.name}}</td>
                <td>B.TECH-{{this.branch}}</td>
                <td>B.TECH-{{this.branch}}</td>
            </tr>
              {{/each}}
        </tbody>
    </table>
  </div>
</div>
<script>
/* Custom filtering function which will search data in column four between two values */
$(document).ready(function(){
    $('#example').DataTable();
});
</script>
