<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <div class="create">
        <form class="" action="/users/createEvent" method="post">
          <button type="submit"><h2>Create Placement Event <i class="fa fa-plus"></i></h2></button>
        </form>
      </div>
  <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Company</th>
                <th>Event Title</th>
                <th>Status</th>
                <th>Drive Schedule</th>
                <th>Courses</th>
                <th>Eligibility</th>
                <th>Registered</th>
                <th>Approved</th>
                <th>Shortlisted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.position}}</td>
                <td>{{this.status}}</td>
                <td>{{this.schedule}}</td>
                <td>
                  {{#each this.criteria.branch}}
                     {{this}}
                  {{/each}}
                </td>
                <td>{{this.eligible_students.length}}</td>
                <td>{{this.registered_students.length}}</td>
                <td>{{this.offered.length}}</td>
                <td>{{this.offered.length}}</td>
                <td>
<<<<<<< HEAD
                  <form class="" action="/users/companyDetail2" method="post">
=======
                  <form class="" action="/users/companydetails" method="post">
>>>>>>> 4c631ef735a55c939342f34e30dccf6ca9740635
                    <input type="hidden" name="compId" value="{{this.id}}">
                    <button type="submit" class="btn btn-primary btn-sm">View</button>
                  </form>
                </td>
            </tr>
              {{/each}}

        </tbody>
    </table>
  </div>
</div>
<script>
/* Custom filtering function which will search data in column four between two values */
$(document).ready(function(){
    $('#example').DataTable();
});
</script>
