<div class="conteudo-box">
    <div class="conteudo-boxInner">
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Name : </span>
        <span style="font-size:1.5em;">{{result.name}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Roll Number : </span>
        <span style="font-size:1.5em;">{{result.position}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">10th Percentage: </span>
        <span style="font-size:1.5em;">{{result.percent_10_value}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">12th Percentage: </span>
        <span style="font-size:1.5em;">{{result.percent_12_value}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">CPI: </span>
        <span style="font-size:1.5em;">{{result.cpi}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Backlogs: </span>
        <span style="font-size:1.5em;">{{result.backlogs}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Branch: </span>
        <span style="font-size:1.5em;">{{result.branch}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Phone Number: </span>
        <span style="font-size:1.5em;">{{result.phone_no.phone_no1}}</span>
      </div>
      <div class="">
        <span style="font-size:1.5em;font-weight:bold;">Skills: </span>
        <span style="font-size:1.5em;">{{result.skills}}</span>
      </div>

    </div>
</div>