<div class="conteudo-box">
    <div class="conteudo-boxInner">
  <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Course</th>
                <th>Aggregate</th>

                <th>CPI</th>
                <th>Back Papers</th>
                <th>Jobs</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
                <td>{{this.rollno}}</td>
                <td>{{this.name}}</td>
                <td>B.TECH-{{this.branch}}</td>
                <td>{{this.cpi}}</td>

                <td>{{this.cpi}}</td>
                <td>{{this.backPapers}}</td>
                <td>{{this.jobs}}</td>
                <td>
                  {{this.register_level}}
                </td>

                <td>
                    <form action="/users/viewstudent" method="post">
                        <input type="hidden" name="student" value="{{this.id}}"/>
                        <button type="submit" class="btn btn-sm btn-primary">View</button>
                    </form>
                        &nbsp;&nbsp;
                        <button class="btn btn-sm btn-danger">Debart</button>

                </td>
            </tr>
              {{/each}}
          </tbody>

    </table>
  </div>
</div>
<script>
/* Custom filtering function which will search data in column four between two values */
$(document).ready(function(){
    $('#example').DataTable();
});
</script>
